.signup-container {
	padding: 0 4rem 4rem;
	margin: 12rem auto;
	border: 3px solid;
	border-color: var(--text-blue);
	border-radius: 1rem;
	border-color: var(--text-blue);
	width: 40%;
	text-align: center;
}

.signup-container h2 {
	padding: 2rem 4rem 2rem;
	font-size: 2rem;
}

.signup-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-inline: auto;
}

.successtext {
	border: 2px solid var(--text-blue);
	background: #03C03C;
	color: #000000;
	border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	font-size: 0.9rem;
}

.failtext {
	border: 2px solid var(--text-blue);
	background: #B31B1B;
	color: #FFFFFF;
	border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	font-size: 0.9rem;
}

.successtext a {
	color: #000000!important;
}
.successtext a:hover {
	color: #FFFFFF!important;
}

.signup-form input[type="text"] {
	width: 100%;
}

.signup-form input, textarea {
	width: 100%;
	padding: 1rem;
	border: 2px solid;
	border-color: var(--text-blue);
	border-radius: 0.5rem;
	background: var(--bg-secondary);
	color: var(--color-white);
	border-radius: 0.5rem;
}

.signup-form .btn {
	width: max-content;
	cursor: pointer;
	margin-top: 1rem;
	margin-inline: auto;
	padding: 0.5em;
	font-weight: 600;
	font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
	
	.signup-container {
		margin-block: 7rem;
		width: 70%;
		padding: 3em 1.5em;
	}
}

@media screen and (max-width: 600px) {
	
	.signup-container {
		margin-block: 6rem 0 5rem;
		width: 85%;
	}
	
	.form-name {
		flex-direction: column;
	}
	
	.form-name input[type="text"] {
		width: 100%;
	}
}